---
import InfinityHorizontalSlider from "../components/InfinityHorizontalSlider.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import BlackBar from "../components/BlackBar.astro";
import OpinionSlider from "../components/OpinionSlider.astro";
import LatestArticles from "../components/LatestArticles.astro";
import HighlightArticles from "../components/HighlightArticles.astro"
import CategoryArticleBox from "../components/CategoryArticleBox.astro"
import BlackEmailBox from "../components/BlackEmailBox.astro";
import SeoBottomText from "../components/SeoBottomText.astro";
let counter = 0;
---

<style>

  .first__web__line {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    border-bottom: solid 3px lightslategray;
  }
  .latest__article__body {
    justify-content: right;
  }

  .second__web__line {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    border-bottom: solid 3px lightslategray;
  }
  .black__email__box {
    justify-content: right;
  }
</style>

<DefaultLayout>
  <InfinityHorizontalSlider />
  <div class="first__web__line">
    <HighlightArticles/>
    <div class="latest__article__body">
      <LatestArticles />
    </div>
  </div>
<div class="second__web__line">
<CategoryArticleBox/>
<div class="black__email__box">
  <BlackEmailBox/>
</div>
</div>
  <OpinionSlider />
  <BlackBar />
  <SeoBottomText/>
</DefaultLayout>
