---
import InfinityHorizontalSlider from "../components/InfinityHorizontalSlider.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import BlackBar from "../components/BlackBar.astro";
import OpinionSlider from "../components/OpinionSlider.astro";
import LatestArticles from "../components/LatestArticles.astro";
import HighlightArticles from "../components/HighlightArticles.astro"
import CategoryArticleBox from "../components/CategoryArticleBox.astro"
import BlackEmailBox from "../components/BlackEmailBox.astro";
import SeoBottomText from "../components/SeoBottomText.astro";
let counter = 0;
---

<style>

  .first__web__line {
    display: flex;
    margin: 30px auto 30px auto;
    justify-content: center;
    border-bottom: solid 3px lightslategray;
    gap: 20px;
  }
  

  .latest__article__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px ;
    justify-content: right;
  }

  .second__web__line {
    display: flex;
    margin: 30px auto 0 auto;
    justify-content: center;
    border-bottom: solid 3px lightslategray;
    gap: 20px;
  }
  .black__email__box {
    justify-content: right;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 1300px) {
    .first__web__line{
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
    }

    .latest__article__body{
      display: flex;
      flex-direction: row;
      margin: auto;
      align-items: center;
      gap: 30px;
      margin-bottom: 30px;
    }

    .second__web__line{
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
    }

    .black__email__box{
      display: flex;
      margin: 0 auto 20px auto;
      align-items: center;
      gap: 30px;
    }
  }

  @media screen and (max-width: 750px) {
    .latest__article__body{
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
    }

    .black__email__box{
      display: flex;
      flex-direction: column;
      margin: 20px auto;
      align-items: center;
    }
  }
</style>
<DefaultLayout>
  <InfinityHorizontalSlider />
  <div class="first__web__line">
    <HighlightArticles/>
    <div class="latest__article__body">
      <LatestArticles />
    </div>
  </div>
<div class="second__web__line">
<CategoryArticleBox/>
<div class="black__email__box">
  <BlackEmailBox/>
</div>
</div>
  <OpinionSlider />
  <BlackBar />
  <SeoBottomText/>
</DefaultLayout>
