---

---

<blackBar>
    <div class="content-box">
        <h2>Предимства на платформата</h2>
    </div>

    <div class="BlackBar">
        <div class="box">
            <h3>
                Уебсайтът на ресторанта предоставя удобство на клиентите чрез
                бързи и лесни онлайн резервации за маса, позволявайки им да
                планират своето посещение с минимални усилия.
            </h3>
        </div>

        <div class="box">
            <h3>
                Със своето онлайн присъствие, ресторантът предлага подробна
                информация за разнообразието в менюто си, позволявайки на
                клиентите лесно да изберат ястия и напитки, които отговарят на
                техните вкусове.
            </h3>
        </div>

        <div class="box">
            <h3>
                Уебсайтовете за ресторанти събират отзиви и препоръки от
                посетителите, създавайки общност и предоставяйки ценна
                информация на потенциални клиенти за качеството на обслужването
                в ресторанта.
            </h3>
        </div>
    </div>
</blackBar>

<style>
    .BlackBar {
        display: flex;
        flex-direction: row;

        background-color: #000000;
    }

    .box {
        display: flex;
        margin: 4%;
        padding: 10px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        font-size: 85%;
    }

    .content-box {
        display: flex;
        /* padding: 1%; */ 
        /* margin: 1%; */
        justify-content: center;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    }
</style>
