---
import CategoryArticlesPosts from "../components/CategoryArticlesPosts.astro";
import { categoryList } from "../quearies/category.js";

const categoryData = Astro.props;
---

<style>
    .grid-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        max-width: 912px;
        gap: 10px;
        margin: 30px 20px;
        margin-top: 30px;

    }

    .wrap-category1 {
        grid-area: 1 / 1 / 4 / 2;
        max-width: 451px;
    }
    .wrap-category2 {
        grid-area: 1 / 2 / 4 / 3;
        max-width: 451px;
    }

    .article-box {
        display: grid;
        max-width: 451px;
        height: auto;
        margin-bottom: 30px;
        justify-items: center;
        gap: 10px;
    }

    .category-name {
        border-bottom: solid 3px grey;
        color: grey;
        width: 100%;
        font-weight: bolder;
    }

    .advertisment {
        display: flex;
        background-color: white;
        border-radius: 20px;
        justify-items: center;
        justify-content: center;
        max-width: 730px;
        height: auto;
        margin: 30px 20px;
    }

    @media screen and (max-width: 930px) {
    .grid-wrap{
      display: grid:;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }

    .wrap-category1{
        grid-area: 1 / 1 / 4 / 2;
        max-width: 451px;
    }

    .wrap-category2{
        grid-area: 4 / 1 / 7 / 2;
        max-width: 451px;
    }
  }

</style>
<div class="all">
    <div class="advertisment"><p>reklama</p></div>
    <div class="grid-wrap">
        <div class="article-box wrap-category1">
            <p class="category-name">барове</p>
            <CategoryArticlesPosts articlesCount={3} categoryId="1" />
        </div>
        <div class="article-box wrap-category2">
            <p class="category-name">класации</p>
            <CategoryArticlesPosts articlesCount={3} categoryId="4" />
        </div>
    </div> 
</div>
