---
import CategoryArticlesPosts from "../components/CategoryArticlesPosts.astro";
import { categoryList } from "../quearies/category.js";

const categoryData = Astro.props;
---

<style>
    .grid__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 912px;
        gap: 10px;
        margin-left: 10vw;
        margin-right: 2vw;
        margin-top: 30px;
    }

    .wrap__category1 {
        grid-area: 1 / 1 / 4 / 2;
        width: 451px;
    }
    .wrap__category2 {
        grid-area: 1 / 2 / 4 / 3;
        width: 451px;
    }

    .article__box {
        display: grid;
        width: 451px;
        height: 912px;
        margin-bottom: 30px;
        justify-items: center;
        gap: 10px;
    }

    .category__name {
        border-bottom: solid 3px grey;
        color: grey;
        width: 100%;
        font-weight: bolder;
    }

    .advertisment {
        display: flex;
        background-color: white;
        border-radius: 20px;
        justify-items: center;
        justify-content: center;
        width: 730px;
        height: 90px;
        margin-left: 13vw;
    }

</style>
<div class="all">
    <div class="advertisment"><p>reklama</p></div>
    <div class="grid__wrap">
        <div class="article__box wrap__category1">
            <p class="category__name">барове</p>
            <CategoryArticlesPosts articlesCount={3} categoryId="1" />
        </div>
        <div class="article__box wrap__category2">
            <p class="category__name">класации</p>
            <CategoryArticlesPosts articlesCount={3} categoryId="4" />
        </div>
    </div> 
</div>