---
import { Icon } from "astro-icon/components";
---

<style>
    a {
        text-decoration: none;
        color: #000000;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    footer {
        background: linear-gradient(180deg, #fafafa 0%, #e3e4e6 100%);
        color: white;
        padding: 20px;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    footer ul {
        color: #000000;
        list-style: none;
        padding-left: 0px;
    }

    .column {
        padding: 10px;
    }

    .column img {
        display: flex;
        margin: auto;
        align-items: center;
    }

    .footerHeading {
        color: #9ca5b4;
        font-weight: bolder;
        font-size: large;
    }

    @media screen and (max-width: 670px) {
        footer {
            grid-template-columns: 2fr;
            grid-template-rows: 1fr;
        }
    }

    @media screen and (max-width: 440px) {
        div .column {
            width: 100px;
            height: 68px;
        }
        .column img {
            width: 150px;
            height: 68px;
        }
    }
</style>

<footer>
    <a href="/">
        <div class="column">
            <Icon name="logoBaroveBlack" width={300} height={90} />
        </div>
    </a>
    <div class="column">
        <p class="footerHeading">категории</p>
        <ul>
            <a href="/categorys/barove"><li>Барове</li></a>
            <a href="/categorys/kokteili-recepti"><li>Коктейли / Рецепти</li></a
            >
            <a href="/categorys/lubopitno"><li>Любопитно</li></a>
            <a href="/categorys/klasacii"><li>Класации</li></a>
            <a href="/categorys/novini"><li>Новини</li></a>
        </ul>
    </div>
    <div class="column">
        <p class="footerHeading">полезни връзки</p>
        <ul>
            <li>контакти</li>
            <li>покитика за поверителност</li>
        </ul>
        <Icon name="instagram" color="black" width={50} height={50} />
        <Icon name="facebook" color="black" width={50} height={50} />
    </div>
</footer>
