---
import { Image } from "astro:assets";
import logoBaroveBlack from "../images/logoBaroveBlack.svg";
import instagram from "../images/instagram.svg";
import facebook from "../images/facebook.svg";
---

<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    footer {
        background: linear-gradient(180deg, #fafafa 0%, #e3e4e6 100%);
        color: white;
        padding: 20px;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    footer ul {
        color: #000000;
        list-style: none;
        padding-left: 0px;
    }

    .column {
        padding: 10px;
    }

    .footerHeading {
        color: #9ca5b4;
        font-weight: bolder;
        font-size: large;
    }

    @media screen and (max-width: 670px) {
        footer {
            grid-template-columns: 2fr;
            grid-template-rows: 1fr;
        }

        img .column{
            width: 150px;
            height: 68px;
        }
    }

    @media screen and (max-width: 440px) {

        div .column {
            width: 100px;
            height: 68px;
        }
    }
</style>

<footer>
    <div class="column">
        <Image src={logoBaroveBlack} alt="logo" width="374" height="68" />
    </div>
    <div class="column">
        <p class="footerHeading">категории</p>
        <ul>
            <li>Барове</li>
            <li>Коктейли / Рецепти</li>
            <li>Любопитно</li>
            <li>Класации</li>
            <li>Новини</li>
        </ul>
    </div>
    <div class="column">
        <p class="footerHeading">полезни връзки</p>
        <ul>
            <li>контакти</li>
            <li>покитика за поверителност</li>
        </ul>
        <Image src={instagram} alt="logo" width="50" height="50" />
        <Image src={facebook} alt="logo" width="50" height="50" />
    </div>
</footer>
