---
import SingleArticle from "../components/SingleArticle.astro";
import { articlesList } from "../quearies/articles.js";
let counter = 0 
---
<style>
  p {
    margin-left: 10vw;
    border-bottom: solid 2px grey;
    margin-right: 2vw;
    font-weight: bolder;
    color: grey;
  }

      .article__box {
    width: 100vw;
    display: grid;
    width: 912px;
    height: 912px;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, auto);
    margin-left: 10vw;
    margin-right: 2vw;
    margin-bottom: 30px;
    justify-items: center;
    gap: 10px;
  }

  @media screen and (max-width: 550px) {
    .article__box {
      display: grid;
      grid-template-columns: repeat(
        1,
        2fr
      ); /* Create 3 columns each taking 2/3 of available width */
      grid-template-rows: repeat(3, auto); /* Create 2 rows */
      justify-items: center;
      gap: 10px;
    }
  }
</style>
<div>
<div>
<p>Акценти</p>
</div>
  <div class="article__box">
    {
      articlesList.posts.data.map((item) => {
        if (counter < 6) {
          counter++;
          return (
            
            <SingleArticle
            url={item.attributes.slug}
            image={item.attributes.image}
            name={item.attributes.name}
            />
            
            );
          }
        })
      }
  </div>
</div>