---
import HighlightArticlePost from "../components/HighlightArticlePost.astro";
let counter = 0;
---

<style>
  .grid-wrap {
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        max-width: 912px;
        gap: 10px;
        margin: 30px 20px;
        margin-top: 30px;
      /* display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      max-width: 912px;
      height: auto;
      gap: 10px;
      margin: 30px 20px; */
  }

  @media screen and (max-width: 930px) {
    .grid-wrap{
      display: grid:;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      max-width: 451px;

    }
  }

</style>
  <div class="grid-wrap">
          <HighlightArticlePost articlesCount={6}/>
  </div> 
