---
import HighlightArticlePost from "../components/HighlightArticlePost.astro";
let counter = 0;
---

<style>
  .grid-wrap {
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        max-width: 912px;
        background-color: #F5EEE2;
        padding: 20px;
        gap: 15px;
        border-radius: 20px;
        margin: 0 20px 30px;
  }

  @media screen and (max-width: 930px) {
    .grid-wrap{
      display: grid:;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      max-width: 451px;

    }
  }

</style>
  <div class="grid-wrap">
          <HighlightArticlePost articlesCount={6}/>
  </div> 
