---
import SingleArticle from "./SingleArticle.astro";
import { articlesList } from "../quearies/articles";
---

<style>
    .splide__slide {
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center vertically */
        align-items: center; /* Center horizontally */
        text-align: center; /* Center text horizontally */
    }

    .splide__track {
        margin: 30px 0;
        background-color: #F5EEE2;
        padding: 10px;

    }

</style>

<script>
    import { Splide } from "@splidejs/splide";
    import { AutoScroll } from "@splidejs/splide-extension-auto-scroll";

    let splide = new Splide(".splide-loop", {
        autoStart: true,
        type: "loop",
        drag: "free",
        focus: "center",
        perPage: 3.5,
        autoScroll: {
            speed: 1,
        },
    });

    splide.mount({ AutoScroll });

    splide.on("resize", () => {
        if (window.innerWidth > 1300) {
            splide.options.perPage = 3.5;
        } else if (window.innerWidth > 800) {
            splide.options.perPage = 2.5;
        } else if (window.innerWidth > 500) {
            splide.options.perPage = 1.5;
        } else {
            splide.options.perPage = 1;
        }
    });
</script>

<section
    class="splide slide splide-loop"
    aria-label="Splide Basic HTML Example"
>
    <div class="splide__track">
        <ul class="splide__list">
            {
                articlesList.posts.data.map((item) => {
                    return (
                        <li class="splide__slide">
                            <SingleArticle
                                url={item.attributes.slug}
                                image={item.attributes.image}
                                name={item.attributes.name}
                            />
                        </li>
                    );
                })
            }
        </ul>
    </div>
</section>
