---
import SingleArticle from "./SingleArticle.astro";
import { articlesList } from "../quearies/articles";
---

<style>
    .splide__slide {
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center vertically */
        align-items: center; /* Center horizontally */
        text-align: center; /* Center text horizontally */
    }

    .splide__track {
        margin-top: 30px;
    }
</style>

<script>
    import { Splide } from "@splidejs/splide";
    import { AutoScroll } from "@splidejs/splide-extension-auto-scroll";
    
    const splide = new Splide(".splide-loop", {
        autoStart: true,
        type: "loop",
        drag: "free",
        focus: "center",
        perPage: 3.5,
        autoScroll: {
            speed: 1,
        },
    });
    
    splide.mount({ AutoScroll });
</script>

<section class="splide slide splide-loop" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
        <ul class="splide__list">
            {
                articlesList.posts.data.map((item) => {
                    return (
                        <li class="splide__slide">
                            <SingleArticle
                                url={item.attributes.slug}
                                image={item.attributes.image}
                                name={item.attributes.name}
                            />
                        </li>
                    );
                })
            }
        </ul>
    </div>
</section>
