---
import "@splidejs/splide/css";
---

<style>
  .splide__track {
    color: rgb(0, 0, 0);
    background-color: #f5eee2;
    width: 100%;

    padding: 6%;
  }

  .splide__list {
    text-align: center;
  }

  .userdiv {
    text-align: center;
  }
</style>

<script>
  import { Splide } from "@splidejs/splide";
  import { AutoScroll } from "@splidejs/splide-extension-auto-scroll";

  const splide = new Splide(
    ".splide-казах-ти-че-тези-имена-трябва-да-са-различни-за-всеки-импорт",
    {
      autoStart: true,
      type: "loop",
      drag: "free",
      focus: "center",
      perPage: 3.5,
      autoScroll: {
        speed: 1,
      },
    },
  );

  splide.mount({ AutoScroll });

  splide.on("resize", () => {
        if (window.innerWidth > 1300) {
            splide.options.perPage = 3.5;
        } else if (window.innerWidth > 800) {
            splide.options.perPage = 2.5;
        } else if (window.innerWidth > 500) {
            splide.options.perPage = 1.5;
        } else {
            splide.options.perPage = 1;
        }
    });
</script>

<section
  id="test"
  class="splide splide-казах-ти-че-тези-имена-трябва-да-са-различни-за-всеки-импорт kjh"
  aria-label="Splide Basic HTML Example"
>
  <div class="splide__track">
    <!-- <div class="userdiv"><h2>Отзиви от потребителите</h2></div> -->
    <ul class="splide__list">
      <li class="splide__slide">
        Прочетох няколко статии в блога и реших да избера едно заведение за
        вечеря. Не съжалявам за избора - обслужването беше на ниво, а храната
        просто въздушна!
        <h3>Митка Бойчева</h3>
      </li>
      <li class="splide__slide">
        Блогът ме насочи към едно заведение за специален повод и реших да го
        опитам. Обстановката беше чудесна, а храната - изключително вкусна.
        Благодаря за препоръката!
        <h3>Георги Аспарухов</h3>
      </li>
      <li class="splide__slide">
        Открих блога докато търсех информация за нови места за излизане с
        приятели. Прочетох няколко ревюта и решихме да посетим едно от
        препоръчаните заведения. Не съжаляваме - изборът беше точен!
        <h3>Никола Тодоров</h3>
      </li>
      <li class="splide__slide">
        Блогът предлага разнообразие от статии за местни заведения. Благодарение
        на информацията, намерих много интересни места, които бих искал да
        посетя в близко бъдеще.
        <h3>Любомир Михайлов</h3>
      </li>
      <li class="splide__slide">
        Прочетох последната публикация в блога за ново открито заведение в града
        и бях много впечатлен. Обещаваща атмосфера и разнообразно меню -
        определено място, което трябва да посетя!
        <h3>Кристиян Ненков</h3>
      </li>
      <li class="splide__slide">
        Блогът е страхотен източник на информация за местни ресторанти и барове.
        Винаги намирам интересни идеи за моите следващи излизания.
        <h3>Васил Божков</h3>
      </li>
      <li class="splide__slide">
        Новата статия в блога за най-добрите заведения за закуска ме накара да
        разгледам различни опции за сутрешно хранене. Обещаващи ревюта и снимки,
        които ме карат да изгладнея!
        <h3>Генади Христов</h3>
      </li>
      <li class="splide__slide">
        Четейки блога, откривам много нови места, които никога преди не бих
        помислил да посетя. Благодарение на него, откривам разнообразие от
        вкусни кулинарни изживявания.
        <h3>Кадир Бенков</h3>
      </li>
      <li class="splide__slide">
        Новата статия в блога за най-добрите заведения за закуска ме накара да
        разгледам различни опции за сутрешно хранене. Обещаващи ревюта и снимки,
        които ме карат да изгладнея!

        <h3>Цвети Василева</h3>
      </li>
      <li class="splide__slide">
        Блогът е моят любим източник на вдъхновение за места за обяд и вечеря.
        Винаги намирам интересни идеи и препоръки, които ме карат да искам да
        опитам всичко!
        <h3>Албена Петрова</h3>
      </li>
    </ul>
  </div>
</section>
