<style>
    .seo__text {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .text1 {
        grid-area: 1 / 1 / 2 / 2;
        margin-right: 20px;
        margin-left: 20px;
    }
    .text2 {
        grid-area: 1 / 2 / 2 / 3;
        margin-right: 20px;
        margin-left: 20px;
    }
    .text3 {
        grid-area: 1 / 3 / 2 / 4;
        margin-right: 20px;
        margin-left: 20px;
    }
    .reklama {
        display: flex;
        grid-area: 1 / 4 / 2 / 5;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        width: 300px;
        height: 600px;
        background-color: white;
        border-radius: 20px;
        margin-top: 30px;
    }

    @media screen and (max-width: 1300px) {
        .seo__text{
            display: flex;
            flex-direction: column;
            margin: auto;
            align-items: center;
        }

        .reklama{
            width: 600px;
            height: 200px;
            margin-bottom: 20px;
        }

        p{
            display: flex;
            margin: 20px;
            align-items: center;
        }
    }

    @media screen and (max-width: 650px) {
        .reklama{
            width: 300px;
            height: 600px;
        }
    }
</style>
<div class="seo__text">
    <div>
        <p class="text1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem modi
            voluptatum architecto non in eveniet incidunt cupiditate, corrupti
            molestias pariatur similique dolorum earum impedit delectus, laborum
            error, animi dolores dolor ratione sit magni excepturi fugit?
            Molestias ipsa voluptates fugiat autem nobis voluptas, animi
            corrupti molestiae, asperiores, quisquam praesentium vel. Saepe
            natus itaque enim facilis officiis debitis dolorum laudantium, esse
            veritatis maiores delectus laborum excepturi id error officia
            inventore! Iure consectetur odit doloribus perspiciatis voluptatum
            nisi, vel quis repellendus itaque beatae magnam minima ad saepe
            voluptates eius minus est iste nostrum autem esse! Quia corporis qui
            veritatis eos est nulla amet error eaque quae? Voluptas reiciendis
            suscipit, voluptatum minus velit laudantium impedit dolores beatae?
            Esse cumque illum ab expedita facilis hic iusto eos! Beatae
            inventore, eos quos aliquam perferendis, corporis voluptas nemo,
            fugit magnam ratione veritatis. Expedita nesciunt ipsam iste
            temporibus velit, repudiandae pariatur enim ullam aut, quia ut
            labore optio atque. Dolore pariatur a fugiat, autem quam eveniet
            illum suscipit voluptatum officiis eligendi vel quos natus. Quisquam
            voluptates vitae quibusdam? Odit, temporibus quisquam modi esse
            nobis nam! Non dicta facilis nostrum officiis, quam libero sunt
            recusandae culpa cum quaerat, quas obcaecati! Sed dolorum tempora
            molestiae dignissimos reiciendis vitae voluptate minus!
        </p>
    </div>
    <div>
        <p class="text2">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, fuga
            velit magni voluptatem nam iure temporibus quisquam ut non
            excepturi, officia nesciunt blanditiis in numquam. Dolores eaque
            vitae sequi voluptate dolore quidem adipisci a assumenda sapiente
            saepe nemo at numquam ex velit aut ipsum voluptas quae fugit
            repellat, facilis minus. Ducimus, libero! Velit qui aut nemo alias,
            beatae deserunt natus eius, asperiores ratione debitis perferendis
            laborum voluptatibus assumenda voluptas labore quos optio sit?
            Nobis, natus placeat velit maxime fugit dolorum earum! Officia
            quaerat architecto dolor amet, nam ipsum magnam fuga. Vitae
            quibusdam aliquid rerum consequuntur, officiis commodi. Similique
            consectetur a necessitatibus deserunt veritatis reprehenderit id
            obcaecati earum! Temporibus impedit deserunt tempora molestiae
            asperiores recusandae totam repellendus accusamus sed modi,
            inventore quas harum assumenda quia quasi, dolore officia suscipit
            nam explicabo, accusantium laboriosam ipsam id. Voluptatem aliquam
            atque sapiente necessitatibus praesentium tenetur excepturi nam?
            Dolore voluptatem aut facilis soluta voluptates aliquid magnam,
            harum quas, quae deleniti sequi consectetur expedita? Perspiciatis,
            natus quaerat quo corrupti a ullam ducimus impedit nesciunt error
            earum accusamus similique quasi tempore dignissimos incidunt animi
            modi odio voluptatibus, est illum? Cupiditate, sint minus expedita
            nam maxime voluptatibus ab reiciendis facilis esse ut voluptatem aut
            tempora enim quaerat quibusdam.
        </p>
    </div>
    <div>
        <p class="text3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Cupiditate, numquam explicabo. Accusantium, cumque optio. Sapiente
            debitis veritatis labore, voluptates impedit nemo facilis, officiis
            ipsa nulla in eum dignissimos, commodi atque? A excepturi cupiditate
            quia animi reprehenderit iure explicabo commodi at dolorem, vitae,
            earum eaque fugit ullam totam incidunt! Ducimus debitis quod nihil
            asperiores eveniet maiores ipsa ipsum nesciunt accusantium illum
            voluptatum ullam ut dolor, id temporibus ex quaerat laborum omnis
            amet! Aut blanditiis voluptate possimus, inventore temporibus velit
            explicabo sit nemo minima earum nesciunt vitae placeat sunt,
            recusandae ipsam commodi voluptates quos, facere accusamus. Corporis
            ipsam sed illo ipsum doloremque facilis sequi eaque repellendus
            harum error laborum, voluptatum fugiat omnis recusandae enim amet
            nesciunt libero, ea minima laboriosam. Ipsa quisquam nemo asperiores
            sequi beatae amet placeat aliquam alias? Amet et doloribus quo
            molestiae vel iure adipisci. Sed cupiditate recusandae maiores ex
            nisi animi adipisci deserunt ullam, asperiores ut expedita non
            voluptate illum deleniti amet, voluptatem in dolores magni,
            repellendus explicabo praesentium placeat. Est inventore suscipit
            blanditiis facere a ex eius dolore. Odit nobis fugit, impedit nulla
            quae sit iste vel cupiditate, labore quo officiis, illo veritatis
            ducimus expedita incidunt pariatur eum ex! Placeat, molestias quo
            assumenda ab repudiandae rerum sint.
        </p>
    </div>
    <div class="reklama">
        <h3>reklama</h3>
    </div>
</div>
