<style>
    .seo__text {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .text1 {
        grid-area: 1 / 1 / 2 / 2;
        margin-right: 20px;
        margin-left: 20px;
    }
    .text2 {
        grid-area: 1 / 2 / 2 / 3;
        margin-right: 20px;
        margin-left: 20px;
    }
    .text3 {
        grid-area: 1 / 3 / 2 / 4;
        margin-right: 20px;
        margin-left: 20px;
    }
    .reklama {
        display: flex;
        grid-area: 1 / 4 / 2 / 5;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        width: 300px;
        height: auto;
        background-color: white;
        border-radius: 20px;
        margin: 10px;
    }

    @media screen and (max-width: 1300px) {
        .seo__text {
            display: flex;
            flex-direction: column;
            margin: auto;
            align-items: center;
        }

        .reklama {
            width: 600px;
            height: 200px;
            margin-bottom: 20px;
        }

        p {
            display: flex;
            margin: 20px;
            align-items: center;
        }
    }

    @media screen and (max-width: 650px) {
        .reklama {
            width: 300px;
            height: 600px;
        }
    }
</style>
<div class="seo__text">
    <div>
        <p class="text1">
            Добре дошли в BaroveBG - вашият надежден партньор в света на
            баровете в България! Ние сме тук, за да ви въведем в един уникален
            свят от вкусни напитки, приятна атмосфера и незабравими моменти с
            приятели. С BaroveBG, ще откриете най-добрите барове, където да се
            потопите в света на коктейлите и разнообразните напитки, представени
            от най-добрите бармани в страната. Ние сме тук, за да направим
            вашето изживяване максимално удовлетворително и вдъхновяващо.
            Прочетете напред и открийте как BaroveBG може да ви помогне да
            откриете вашия следващ баров ритъм!
        </p>
    </div>
    <div>
        <p class="text2">
            В BaroveBG ние сме посветени на предоставянето на най-пълната
            информация за най-актуалните и вълнуващи барове в България. С нашата
            помощ, ще можете да откриете нови места за излизане и да се
            насладите на разнообразие от уникални напитки и кулинарни изкушения.
            От модерни коктейлни барове до автентични кафенета, BaroveBG ви дава
            възможността да откриете най-доброто от баровата сцена в страната.
            Нашата мисия е да ви вдъхновяваме и да ви помагаме да създадете
            незабравими спомени с всяко посещение на нов бар. Започнете своето
            барово пътешествие с нас и ще се потопите в един свят на вълнение и
            удоволствие!
        </p>
    </div>
    <div>
        <p class="text3">
            Не забравяйте да ни последвате в социалните мрежи и да се абонирате
            за нашия бюлетин, за да бъдете в течение на последните новини и
            оферти от любимите ви барове. С BaroveBG, ще бъдете винаги на крак с
            последните тенденции и събития в баровата индустрия. Благодарим ви,
            че сте с нас и нека вашето барово приключение започне сега! Доверете
            се на нас да ви насочим към най-добрите барове в България и да
            направим всяко ваше посещение незабравимо. С BaroveBG, вашият баров
            свят никога няма да бъде същият!
        </p>
    </div>
    <div class="reklama">
        <h3>reklama</h3>
    </div>
</div>
